//Theme styles
@import '../styles/variables.scss';
@import './App.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
//component styles
@import '../styles/components/claimAssessment.scss';
@import '../styles/components/claimTable.scss';

//global styles
body {
	margin: 0;
	font-family: $primaryFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span {
	display: inline-block;
}

button {
	cursor: pointer;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}