//colors
$blackHighEmp: rgba($color: #000000, $alpha: 0.87);
$blackMediumEmp: rgba($color: #000000, $alpha: 0.6);
$grey: #333333;
$primary: #212121;
$whiteFocusOverlay: rgba($color: #ffffff, $alpha: 0.12);
$whiteHighEmp: #ffffff;
$whiteMediumEmp: rgba($color: #ffffff, $alpha: 0.7);

//fonts
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Roboto Condensed', sans-serif;